*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* comon */
body{
     font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin:auto;
}
a{
    text-decoration: none;
}

 /*button*/
 .btm{
     background-color: blue;
     padding: 5px 10px;
     color: white;
 }

/* header */
header{
    background-color: #ffffff;
    width: 100%;

}
 .nav-header-1{  
    text-align: left;
    width: 50%;
    /* anche se gia di default per ricordarci */
}

.nav-header-2{  
    text-align: right;
    width: 50%;
    padding-right: 30px;
    
}
/* attributi nav */
    
header ul, header li, .logo-small, .nav-header-1, .nav-header-2 {
    display: inline-block;
}

header ul, .logo-small{
    vertical-align: middle;
    
}

header li{
    padding: 0 10px;
}

 
 .logo-small{
     padding: 20px;
 }


 /* MAIN */
 
.hero{
    background-color: #b4d0e7;
    /* width: 100%; */
    height: 600px;
}

 .hero .row-2{
    bottom: -40px;
    position: relative;
} 
h1{
    font-weight: 800;
    font-size: 65px;
}


.text-row-2, .img-row-2{  
    float: left;
    /* background-color: yellow;
    border: 2px solid black; */
}
.img-row-2{
    width: calc(70% - 40px);
    padding-left:  40px;
}

.text-row-2{
    width: 30%;
}
.text-row-2 > p, .img-row-2 img {
margin:30px 0;
}
.click-here{
 padding: 40px 0;

}
.click-here a {
    color: black;
}


.fa-arrow-down{
    margin:20px 10px;
    font-size: 28px;
   
}

.img-row-2 img{
    width: 100%;  
}