*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* comon */
header{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    z-index: 7;

}
body{
     font-family: 'Open Sans', sans-serif;
}
main{
    padding: 70px 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin:auto;
}
a{
    text-decoration: none;
}
/* type */
h1{
    font-weight: 800;
    font-size: 65px;
}
.sez-1 h2{
    font-size: 35px;
    padding: 40px 0;
}
.col-1 h3{
    text-align: center;
    padding: 20px 0;
    border: 2px solid #d0d0d3;
}
/* /type */


 /*button*/
 .btm{
     background-color: blue;
     padding: 5px 10px;
     color: white;
 }

/* header */

 .nav-header-1{  
    text-align: left;
    width: 50%;
    /* anche se gia di default per ricordarci */
}

.nav-header-2{  
    text-align: right;
    width: 50%;
    padding-right: 30px;
    
}
/* attributi nav */
    
header ul, header li, .logo-small, .nav-header-1, .nav-header-2 {
    display: inline-block;
}

header ul, .logo-small{
    vertical-align: middle;
    
}

header li{
    padding: 0 10px;
}

 
 .logo-small{
     padding: 20px;
 }


 /* MAIN */
 /* sezione-hero */
.hero{
    padding-top: 30px;
    background-color: #b4d0e7;
    /* width: 100%; */
    height: 600px;
}

 .hero .row-2{
    /* bottom: -40px; */
    position: relative;
} 



.text-row-2, .img-row-2{  
    float: left;
    /* background-color: yellow;
    border: 2px solid black; */
}
.img-row-2{
    width: calc(70% - 40px);
    padding-left:  40px;
}

.text-row-2{
    width: 30%;
}
.text-row-2 > p, .img-row-2 img {
margin:30px 0;
}
.click-here{
 padding: 40px 0;

}
.click-here a {
    color: black;
}


.fa-arrow-down{
    margin:20px 10px;
    font-size: 28px;
   
}

.img-row-2 img{
    width: 100%;  
}
 /* /sezione -hero */


 /* sezione1*/

 .sez-1{
     margin-top: 100px;
     /* background-color: coral;
     border: 2px solid black; */
 }


 /* /sezione1*/

 /* sezione2*/

.sez-2{
 padding: 50px 0;
}
.col-1, .col-2, .col-3{
float: left;
background-color: darkblue;
/* border: 2px solid black; */
width: calc((100% - 150px) / 3) ;

}

.col-2{
    margin: 0 75px;
}
/* .container-col{
    width: 80%;
    margin:auto;
} */

 /* /sezione2*/
 